# 站点信息
title: My Blog
subtitle: 'Recording Technology and Life'
description: 'A blog focused on technology sharing'
keywords: Technology, Programming, Blog
author: Lin Wenqi
language: zh-CN
timezone: Asia/Shanghai

# URL 配置
url: https://www.sky-learner.top/
root: /
permalink: :year/:month/:title/
permalink_defaults:
pretty_urls:
  trailing_index: true
  trailing_html: true

# 目录配置
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# 写作配置
new_post_name: :title.md
default_layout: post
titlecase: false
external_link:
  enable: true
  field: site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  preprocess: false
  line_number: true
  line_threshold: 0
  tab_replace: ""
symbols_count_time:
  symbols: true
  time: true
  total_symbols: true
  total_time: true
  exclude_codeblock: false
# 分页配置
per_page: 10
pagination_dir: page

# 主题配置
theme: next

feed:
  type: atom
  path: atom.xml
  limit: 20
  hub:
  content: true
  content_limit: 140
  content_limit_delim: ' '
  order_by: -date

sitemap:
  path: sitemap.xml

deploy:
  type: git
  repo: git@github.com:linwenqi1/linwenqi1.github.io.git
  branch: main